@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* https://coolors.co/292435-e02616-5978da-f1f2f6-efd9ce */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #292435;
  color:#F1F2F6;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width:1350px) {
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}